@model redeSocial.Models.Sessao

@{
    ViewData["Title"] = "Index";
}

<div>
    <a>Feed</a>
    <a asp-action="Perfil" asp-route-postagem="@Model.usuarioLogado">Perfil</a>
</div>

<button type="button" asp-action="Create">Nova Postagem</button> <!-- Reposicionar -->

@if (Model.postagens != null) {
    @foreach (var item in Model.postagens) {
        <div> <!-- Container da Postagem -->
            @if (item.pertenceAoUsuario) {
                <a>...</a> <!-- Substituir <a/> por um dropdown com as opções EDITAR e EXCLUIR -->
            }
            <a>@Html.DisplayFor(modelItem => item.usuario!.nome)</a> <!-- Substituir <a/> por um dropdown com a opção de BLOQUEAR (Banir) Usuário -->       
            <p>@Html.DisplayFor(modelItem => item.conteudoTxt)</p>
            <div>
                @{
                    if (item.midia != null)
                    {
                        switch (item.midia.tipoArquivo)
                        {
                            case "img":
                                <img src="@item.midia.nomeArmazenamento"/>
                                break;
                            case "video":
                                <video controls><source src="@item.midia.nomeArmazenamento"/></video>
                                break;
                        }
                    }
                }
            </div>
            <button type="button" asp-controller="Comentarios" asp-action="Index" asp-route-postagem="@item">Exibir Comentários</button>
        </div>
    }
}
