@model redeSocial.Models.Sessao

@{
    ViewData["Title"] = "Index";
}

<div>
    <a>Feed</a>
    <a asp-action="Perfil" asp-route-postagem="@Model.usuarioLogado">Perfil</a>
</div>

<button type="button" asp-action="Create">Nova Postagem</button> <!-- Reposicionar -->

@if (Model.postagens != null) {
    @foreach (var postagem in Model.postagens) {
        <div> <!-- Container da Postagem -->
            @if (postagem.pertenceAoUsuario) {
                <a>...</a> <!-- Substituir <a/> por um dropdown com as opções EDITAR e EXCLUIR -->
            }
            <a>@Html.DisplayFor(modelItem => postagem.usuario!.nome)</a> <!-- Substituir <a/> por um dropdown com a opção de BLOQUEAR (Banir) Usuário -->
            <p>@Html.DisplayFor(modelItem => postagem.conteudoTxt)</p>
            <div>
                @{
                    if (postagem.midia != null)
                    {
                        switch (postagem.midia.tipoArquivo)
                        {
                            case "img":
                                <img src="@postagem.midia.nomeArmazenamento" />
                                break;
                            case "video":
                                <video controls><source src="@postagem.midia.nomeArmazenamento" /></video>
                                break;
                        }
                    }
                }
            </div>
            <button type="button" asp-controller="Comentarios" asp-action="Index" asp-route-postagem="@item">Exibir Comentários</button>
        </div>
    }
}
