@model redeSocial.Models.Postagem

@{
    ViewData["Title"] = "Index";
}
<button type="button" asp-action="Index">X</button>
<div> <!-- Container Principal -->
    <div> <!-- Post (Esquerda) -->
        <a>
            @Html.DisplayFor(model => model.usuario!.nome)
        </a>
        <p>
            @Html.DisplayFor(model => model.conteudoTxt)
        </p>
        <div>
            @{
                if (Model.midia != null)
                {
                    switch (Model.midia.tipoArquivo)
                    {
                        case "img":
                            <img src="@Model.midia.nomeArmazenamento" />
                            break;
                        case "video":
                            <video controls><source src="@Model.midia.nomeArmazenamento" /></video>
                            break;
                    }
                }
            }
        </div>
    </div>
    <div> <!-- Comentários (Direita) -->
        @if (Model.comentarios != null) {
            @foreach (var comentario in Model.comentarios)
{
                @if (comentario.visible)
                {
                    <div> <!-- Comentário -->
                        @if (!(comentario.pertenceAoUsuario))
                        {
                            <a>@comentario.usuario!.nomeUsuario</a> <!-- Substituir <a/> por um dropdown com a opção de BLOQUEAR (Banir) Usuário -->
                        } else {
                            <p>@comentario.usuario!.nomeUsuario</p>
                        }
                        <p>@comentario.comentario</p>
                    </div>
                    @if(comentario.pertenceAoUsuario) {
                        <a>...</a> <!-- Substituir <a/> por um dropdown com as opções EDITAR e EXCLUIR -->
                    } else if (Model.pertenceAoUsuario) {
                        <a>...</a> <!-- Substituir <a/> por um dropdown com a opção de OCULTAR Comentario -->
                    }
                }
                else if (Model.pertenceAoUsuario) {
                    <p>Comentário oculto de @comentario.usuario!.nomeUsuario</p>
                    <a>...</a> <!-- Substituir <a/> por um dropdown com as opções EXIBIR Comentário e REMOVER Restrição de Visibilidade -->
                }
            }
        } else {
            <p>Nenhum comentário ainda.</p>
        }

        @{
            ViewBag.postID = Model.postID;
        }
        <partial name="Create"/>
    </div>
</div>
