@model redeSocial.Models.ArquivoMidia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArquivoMidia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoArquivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoArquivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeArmazenamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeArmazenamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.post.postID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.arquivoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
